@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #131316;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0 5rem;
    margin: 0;
}
a {
    color: inherit;
}
section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    font-size: 2rem;
}

.hidden {
    opacity: 0;
    filter: blue(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.logo, .logo2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}
.row {
    display: flex;
    margin: 0.5rem 0;
}
.row2 {
    justify-content: center;
}
.project {
    height: 144px;
    width: 144px;
    background-color: #f5f6fa;
    margin: 0 0.5rem;
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
.logo2:nth-child(1) {
    transition-delay: 800ms;
}
.logo2:nth-child(2) {
    transition-delay: 1000ms;
}
.down {
    height: 64px;
    width: 64px;

    border-radius: 100%;
}
.imgWrapper {
    height: 100%;
}
.imgWrapper::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 64px;
    height: 64px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: blink 3s infinite;
    animation: blink 3s infinite;
    box-sizing: border-box;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 15px rgba(255,255,255,.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }